#connect {
  margin: 10px auto !important;
  background: url(../Images/Icons/greenblue.png);
  background-size: cover;
  background-position: center;
  filter: hue-rotate(12deg) saturate(1.2);
  min-height: 200px;
  border-radius: 20px;
  width: 100%;
  padding: 30px 50px;
}
#ContactMe_Section {
  padding: 10px;
  padding-top: 70px !important;
}
#letusconnect {
  font-size: 7rem;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
}
.connectsection {
  display: flex;
  justify-content: center;
}
.connectsection > div {
  margin: 10px 20px;
}
.connectsection > div:nth-child(2) {
  position: relative;
}
.connectsection input {
  width: 85%;
  padding: 7px 10px;
  margin: 5px auto;
  border-radius: 5px;
  border: 0;
  outline: 0;
}
.connectsection textarea {
  padding: 7px 10px;
  margin: 5px auto;
  border-radius: 5px;
  border: 0;
  outline: 0;
  margin: 1px auto;
}
.connectsection label {
  color: rgb(255, 255, 255);
  font-size: 19px;
  margin: 10px;
  width: 100%;
}
#email {
  width: 90%;
}

#submit-button {
  bottom: 0px;
  width: 25%;
  color: white;
  font-size: 18px;
  background-color: rgb(19, 93, 183);
  margin: 1px 5px;
  padding: 10px 30px;
}
#submit-button:hover {
  background-color: rgb(33, 140, 234);
}
#connectsubmitdiv {
  margin: 0;
  padding: 0;
  display: flex;
  width: 90%;
  justify-content: flex-end;
  align-items: center;
}
.connecttwonamesdiv {
  display: flex;
  justify-content: left;
}
#contact {
  margin-top: 0px !important;
  padding-top: 0px !important;
}
