@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
:root {
  --theme: rgb(255, 255, 255);
  --fontColor: rgb(0, 0, 0);
  --themeblue: rgb(52, 161, 220);
  --themeblueDark: rgb(35, 146, 206);
  --themegreen: rgb(52, 161, 220);
}

main {
  overflow-x: hidden;
}
body {
  background-color: var(--theme) !important;
}
html {
  position: relative;
}
.flex {
  display: flex;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: white;
}
#brandlogog {
  mix-blend-mode: difference !important;
}
/*! <!----------------------------------------------- < Essentials > -----------------------------------------------> */
::-webkit-scrollbar {
  background-color: rgb(226, 250, 255);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(94, 187, 254);
}
#preloader {
  background: rgb(255, 255, 255) url("../Images/Icons/shotdribbblecircle.gif")
    no-repeat center center;
  background-size: 50%;
  height: 100vh;
  width: 100%;
  display: flex;
  color: rgb(66, 176, 255);
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100000;
}
.progress-bar {
  z-index: 10000;
  position: fixed;
  background-color: white !important;
  width: 100%;
  height: 1vh;
}
.filled {
  z-index: 10000;
  width: 0%;
  height: 1vh;
  border: 0px;
  background: rgb(41, 56, 161);
  background: linear-gradient(
    90deg,
    rgba(41, 56, 161, 1) 0%,
    rgba(0, 255, 136, 1) 100%
  );
}
#brandbg {
  background-color: transparent !important;
}
a {
  text-decoration: none !important;
}

/*todo <!----------------------------------------------- < Navbar > -----------------------------------------------> */
header {
  z-index: 10000;
  position: sticky;
  top: 1vh;
  padding-top: 4px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0) !important;
}
header li {
  background-color: transparent !important;
  padding: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar {
  background-color: transparent !important;
  padding: 0px !important;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: space-between !important;
  flex-basis: auto;
}
.navbar-nav {
  display: flex;
  justify-content: space-evenly !important;
}
.nav-link,
.nav-item {
  font-size: 15px !important;
  padding: 0px !important;
}

.nav-item {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9) !important;
  margin-right: 5px;

  border: 1px solid transparent;
}
.nav-item:hover {
  border: 1px solid rgb(0, 0, 0);
}
.navbar > .container-fluid {
  background-color: transparent !important;
}
.navbar-collapse {
  flex-grow: 0 !important;
}
.navbar-toggler {
  border-radius: 0% !important;
  border: 1px solid rgb(233, 233, 242) !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 5px 30px !important;
  color: rgb(0, 0, 0);
  font-size: 20px !important;
  transition: all 250ms ease;
}

.navbar-brand {
  border-radius: 5px;

  padding: 4px 20px !important;
  margin-left: 25px !important;
}
#ResumeButton {
  cursor: pointer;
  background: rgb(24, 109, 212);
  border-radius: 5px;
  color: white;
  text-decoration: none !important;
  font-size: 20px !important;
  border: none;
  padding: 10px 15px !important;
}
#ResumeButton::before {
  border-radius: 5px;
}

#downloadresume {
  width: 20%;
  filter: invert();
}
#ResumeButton:hover {
  background-color: rgb(52, 161, 220);
}

/*? <!----------------------------------------------- < Section Styles > -----------------------------------------------> */
section {
  position: relative;
  margin: 100px auto !important;
  padding: 10px;
  padding-top: 100px;
  width: 95%;
  color: rgb(5, 5, 5);
}

.SectionHeads {
  color: var(--fontColor);
  font-weight: 600;
  font-size: 8.7rem;
  /* filter: var(--invert); */
}
#about {
  position: absolute;
  top: -30px;
  left: 0px;
}
#projectHead {
  position: absolute;
  top: -30px;
  right: 0px;
}

/*? <!----------------------------------------------- < FirstView > -----------------------------------------------> */
.FirstView {
  width: 100%;
  height: 100vh;
  padding: 70px 100px;
  display: flex;
  justify-content: space-around;
}
.FirstView > div {
  width: 48%;
}
.Introbox {
  padding: 30px;
  display: flex;
  align-items: left;
  flex-direction: column;
}
#firstviewimg {
  width: 100%;
}
.FirstView h1 {
  color: rgb(255, 255, 255);
  font-size: 3.5rem;
  font-weight: 600;
  -webkit-text-stroke: 1px #000000;
  text-shadow: 2px 2px #010101;
}
#firstlinks {
  margin: 5px;
  margin-left: 15px;
  width: 40px;
  padding: 2px;
  border-radius: 10;
}
#firstlinks:hover {
  cursor: pointer;
}
/*todo -----------------------------------------------------------------FOOTER----------------------------------------------------------------- */

footer {
  width: 100%;
  position: relative;
  height: 200px;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#footercenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerimgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}
.footerimgs > div {
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  border: 1px solid rgb(192, 191, 191);
  background-color: white;
  transition: all 350ms ease;
}
