@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --theme: rgb(255, 255, 255);
  --fontColor: rgb(0, 0, 0);
  --themeblue: rgb(24, 109, 212);
  --themeblueDark: rgb(35, 146, 206);
  --borderRadius: 5px;
}
main {
  overflow-x: hidden;
}
html,
body {
  position: relative !important;
}
.flex {
  display: flex;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none !important;
  color: white;
}
p {
  margin: 0px !important;
}
img {
  cursor: pointer;
}
.flex {
  display: flex;
}
/*! <!----------------------------------------------- < Essentials > -----------------------------------------------> */
::-webkit-scrollbar {
  background-color: rgb(226, 250, 255);
}
::-webkit-scrollbar-thumb {
  background-color: var(--themeblue);
}
.progress-bar {
  z-index: 10000;
  position: fixed;
  background-color: white !important;
  width: 100%;
  height: 1vh;
}
.filled {
  z-index: 10000;
  width: 0%;
  height: 1vh;
  border: 0px;
  background: rgb(41, 56, 161);
  background: linear-gradient(
    90deg,
    rgba(41, 56, 161, 1) 0%,
    rgba(0, 255, 136, 1) 100%
  );
  transition: all 300ms ease-in-out;
}

#topbutton {
  position: fixed;
  display: none;
  z-index: 999;
  bottom: 10px;
  right: 30px;
  width: 40px;
  height: 40px;
  background-color: var(--themeblue);
  margin-bottom: 10px;
  border: none;
  border-radius: var(--borderRadius);
  color: white;
}
#topbutton:hover {
  background-color: var(--themeblueDark);
}

/*? <!----------------------------------------------- < Section Styles > -----------------------------------------------> */
section {
  position: relative;
  margin: 100px auto !important;
  padding: 10px;
  padding-top: 100px;
  width: 95%;
  color: rgb(5, 5, 5);
}

.SectionHeads {
  color: var(--fontColor);
  font-weight: 600;
  font-size: 5.2rem;
  text-align: center;
}
#Aboutroll {
  font-size: 8.5rem;
  position: absolute;
  top: 50px;
  left: 0px;
  width: 200%;
}
#Aboutrolldim {
  color: transparent !important;
  -webkit-text-stroke: silver;
  -webkit-text-stroke-width: 1px;
}
#projectHead {
  position: absolute;
  font-size: 8.5rem;
  top: 80px;
  width: 200%;
  right: -400px;
}

/*? <!----------------------------------------------- < FirstView > -----------------------------------------------> */
.FirstView {
  width: 100%;
  height: 100vh;
  padding: 70px 100px;
  padding-top: 130px;
  padding-bottom: 0px;
  margin: 0px auto !important;
  display: flex;
  justify-content: space-around;
}
.FirstView > div {
  width: 48%;
}
.FirstView > div:nth-child(1) {
  padding-top: 4.5%;
}
.Introbox {
  padding: 30px;
  display: flex;
  align-items: left;
  flex-direction: column;
}
#waitingforgit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
  min-height: 230px;
}

#intro {
  margin-top: 7px;
  margin-bottom: 10px;
}
#firstviewimg {
  width: 100%;
}
#firstviewhello {
  color: rgb(35, 101, 222);
  text-shadow: 2px 2px #cad0d8;
  font-size: 3.5rem;
  font-weight: 600;
}
#firstviewkunal {
  color: rgb(255, 255, 255);
  font-size: 3.5rem;
  font-weight: 600;

  -webkit-text-stroke: 1px #000000;
  text-shadow: 2px 2px #010101;
}
#firstlinks {
  margin: 5px;
  margin-left: 15px;
  width: 40px;
  padding: 2px;
  border-radius: 10;
}
#firstlinks:hover {
  cursor: pointer;
}
#LetsExplore,
#cvdownload {
  border-radius: var(--borderRadius);
}
#LetsExplore::before,
#cvdownload::before {
  border-radius: var(--borderRadius);
}
/*todo -----------------------------------------------------------------FOOTER----------------------------------------------------------------- */

footer {
  width: 100%;
  position: relative;
  height: auto;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#footercenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerimgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}
.footerimgs > div {
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  border: 1px solid rgb(192, 191, 191);
  background-color: white;
  transition: all 350ms ease;
}
