/*? ----------------------------Medium Screen Sizes -------------------------------- */
@media all and (min-width: 810px) and (max-width: 1179px) {
  * {
    font-size: 15px;
  }
  #firstviewkunal {
    font-size: 4rem !important;
  }
  .HeadLetter {
    font-size: 4rem;
  }
  section {
    margin: 15px !important;
    padding-top: 20px !important;
  }
  #about,
  #projects,
  #skills,
  #github {
    padding-top: 80px !important;
  }
  #about > div {
    margin: 0px !important;
  }
  .AllProjects {
    margin-top: 0px !important;
  }
  #Aboutrolldim {
    display: none;
  }
  #Aboutroll {
    width: 100% !important;
    font-size: 5.2rem !important;
    position: static !important;
    transform: none !important;
  }
  #projectHead {
    width: 100% !important;
    font-size: 5.2rem !important;
    position: static !important;
    transform: none !important;
  }

  :root {
    --hextop: 70px;
    --hexrig: -388px;
    --hexwidth: 187px;
    --hexheight: 207px;
    --ballheight1: 200px;
    --ballheight2: 300px;
    --balltop: 150px;
  }
  .SectionHeads {
    font-size: 70px;
    text-align: center;
  }
  .navbar-brand {
    margin: 0px !important;
    padding: 5px !important;
  }
  .FirstView {
    height: auto;
    padding: 20px 20px;
    padding-top: 100px !important;
  }
  .Introbox {
    padding: 25px;
  }
  .Introbox > h1 {
    font-size: 45px;
  }
  #intro {
    font-size: 25px;
  }
  #about {
    padding-top: 0px;
  }
  #LetsExplore,
  #cvdownload {
    border-radius: 5px;
    font-size: 17px !important;
    padding: 12px 22px !important;
  }
  .OneProject {
    height: 50vh;
  }
  .navbar-collapse {
    width: 100%;
  }
  #navbarSupportedContent > div {
    width: 100%;
    justify-content: center;
    margin: 0px !important;

    margin-bottom: 10px;
  }
  .nav-item {
    width: 100% !important;

    background-color: rgba(255, 255, 255, 0.532) !important;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 5px 7px !important;
  }
  .navbar-expand-lg .navbar-collapse {
    flex-basis: max-content !important;
  }
  #navbarSupportedContent > div {
    width: fit-content;
  }
  .nav-link {
    padding: 2px 3px !important;
  }
  .FirstView > div {
    width: 100%;
  }

  .navbar-toggler:focus {
    box-shadow: none !important;
  }
  #kunalimg {
    width: 90%;
    height: 100%;
  }

  #user-detail-name {
    font-size: 35px;
    margin: 5px;
  }
  #about > div {
    display: flex;
  }
  #about > div > div:nth-child(1) {
    width: 90%;
    margin: auto;
  }
  .portfolio-content {
    margin: 0px;
    width: 100%;
  }

  .portfolio-content p,
  #checkoutbio > a {
    font-size: 14px;
  }
  .AllProjects {
    padding: 5px;
  }
  .OneProject {
    height: 300px;
  }

  #project_section {
    padding-top: 0px;
  }
  .OnePRhead {
    font-size: 2.8rem;
  }
  .OneProject p {
    font-size: 13px;
  }
  .ClickModalBtn {
    font-size: 13px;
    padding: 3px 5px;
  }
  .projlinks > * {
    font-size: 13px;
  }
  .downseeG {
    font-size: 13px;
  }
  #Github_Section {
    display: flex;
    flex-direction: column;
  }
  .Git1 {
    width: 100%;
  }

  #github-stats-card {
    width: 48%;
  }
  #github-summary {
    width: 74%;
  }
  #github-streak-stats {
    width: 49.7%;
  }
  #github-top-langs {
    width: 43.8%;
    z-index: 1;
    margin: 18px !important;
    padding: 0px !important;
  }

  #TechStackBigParent {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "two two"
      "one three";
    place-items: center;
  }
  .HexagonBox {
    scale: 1;
    transform: translateY(-20px);
  }
  #logos img {
    width: 40px;
  }
  .TechStackBox {
    width: 374px;
  }
  .SkillsHeads {
    width: 100%;
  }
  .Techskillshead {
    width: 100% !important;
  }
  .Tech-StackBoxParent,
  .Stk-box-parent {
    width: 100%;
    margin: auto;
  }

  .connectsection {
    flex-direction: column;
  }
  #letusconnect {
    font-size: 7rem;
  }
  #connect {
    padding: 7px 10px;
  }
  .connectsection textarea {
    width: 90%;
  }
  #submit-button {
    width: 20%;
  }
  #footercenter {
    flex-direction: column;
  }

  #ball5 {
    top: calc(var(--balltop) - 100px);
    right: 100px !important;
    height: calc(var(--ballheight2));
    width: calc(var(--ballheight2));
  }
  #ball7 {
    top: calc(var(--balltop) - 100px);
    right: -100px;
    height: calc(var(--ballheight2));
    width: calc(var(--ballheight2));
    background-color: rgb(84, 181, 251);
  }
  #ball6 {
    top: calc(var(--balltop) - 30px);
    left: 50px;
    height: calc(var(--ballheight1));
    width: calc(var(--ballheight1));
  }
  #ball8 {
    top: calc(var(--balltop) - 30px);
    right: 50px;
    height: calc(var(--ballheight1));
    width: calc(var(--ballheight1));
  }
  .modal-body > div {
    width: 100%;
    height: auto;
  }
  .downseeGmodal {
    color: rgb(0, 0, 0);
    background-color: transparent;
    width: 100px;
    font-size: 15px;
    padding: 0px;
    margin: 0px 5px;
  }
  .downseeGmodal > img {
    width: 12px;
  }
  #teckstakmodal {
    flex-wrap: wrap;
  }
  .DetailsModalBox {
    height: fit-content;
    overflow: visible !important;
    margin-bottom: 20px;
  }
  td:nth-child(2n-1) {
    width: 100px;
  }

  .ImageModalsBox > img {
    width: 90%;
    margin: auto;
  }

  #teckstakmodal > img {
    width: 65px;
  }

  #checkoutbio > a {
    font-size: 13px;
  }
  .profileheading {
    font-size: 48px;
  }
  #KunalMehraName {
    font-weight: 500;
    font-size: 34px;
    color: var(--themeblue);
  }

  .portfolio-content p {
    font-size: 15px;
  }
  .Git2 {
    padding: 0px !important;
  }
  #gitstreakone {
    width: 100%;
    margin-bottom: 15px;
  }
  .OneProject {
    height: 350px;
  }

  .connecttwonamesdiv input {
    width: 80% !important;
  }
  .connectsection label {
    margin: 0px;
  }
  #connectsubmitdiv {
    justify-content: center;
    width: 100%;
  }
  #submit-button {
    position: static;
    margin: 0px !important;
  }
  .modalimgheads {
    font-size: 13px;
  }

  .ImageModalsBox {
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
    display: block;
    overflow: visible;
  }
  .ImageModalsBox > img {
    width: 99%;
    margin: auto;
  }

  /* == */
  .projlinks {
    margin-top: 10px;
  }
  .table-column {
    margin: 0px !important;
    padding: 0px !important;
  }
  .projectcount {
    font-size: 1.5rem;
  }
  #logos {
    justify-content: center;
  }
  tr {
    display: flex;
    flex-direction: column;
  }
  td:nth-child(2n-1) {
    width: 100%;
    padding: 5px !important;
  }
  .projlinksmodal {
    justify-content: center;
  }
  #contact {
    width: 100%;
    margin: 50px 0px !important;
    padding: 0px !important;
  }
  .modal-content {
    top: 1%;
    height: 99vh !important;
  }
  .modal-body {
    width: 100%;
    display: block;
    overflow-y: scroll !important;
  }
  div.modal-header b {
    font-size: 2rem;
  }
  #BestRepos {
    grid-template-columns: repeat(2, 1fr);
  }
  .gitstreak {
    flex-direction: column;
  }
}

/*todo ----------------------------Medium Screen Sizes -------------------------------- */
@media all and (min-width: 1179px) and (max-width: 1400px) {
  #Aboutroll,
  #projectHead {
    font-size: 7rem;
    /* transform: translateX(-350px); */
  }
  .ImageModalsBox > img {
    width: 95%;
  }

  .skills-card > a {
    font-size: 14px;
  }
  .Toolset {
    margin: 8px 33px;
  }
  .connectsection textarea {
    width: 90%;
  }

  .portfolio-content p,
  .portfolio-content a {
    font-size: 15px;
  }
  #downloadresumeport {
    padding: 7px;
    font-size: 18px;
  }
  #user-detail-name {
    margin: 5px auto;
  }
  .skills-card > img {
    width: 20px;
  }
  #NavlinkParent > div {
    font-weight: 500;
  }
  #TechStackBigParent {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "two two"
      "one three";
    place-items: center;
    align-items: center;
    justify-content: center;
  }
  .HexagonBox {
    scale: 1.1;
    transform: translate(34px) translateY(-17px);
  }
  .TechStackBox {
    width: 377px;
  }
  .Toolset > div {
    width: 55px;
  }
  .SkillBox1 {
    text-align: left !important;
  }
  .SkillBox3 {
    text-align: left !important;
  }
}
