/*? ----------------------------Medium Screen Sizes -------------------------------- */
@media all and (min-width: 810px) and (max-width: 1079px) {
  * {
    font-size: 15px;
  }
  section {
    margin: 15px !important;
    padding-top: 20px !important;
  }

  :root {
    --hextop: 70px;
    --hexrig: -388px;
    --hexwidth: 187px;
    --hexheight: 207px;
    --ballheight1: 200px;
    --ballheight2: 300px;
    --balltop: 100px;
  }
  .SectionHeads {
    font-size: 70px;
    text-align: center;
  }
  .navbar-brand {
    margin: 0px !important;
    padding: 5px !important;
  }
  .FirstView {
    height: auto;
    padding: 20px 20px;
  }
  .Introbox {
    padding: 25px;
  }
  .Introbox > h1 {
    font-size: 45px;
  }
  #intro {
    font-size: 25px;
  }
  #portfolio {
    padding-top: 0px;
  }
  #LetsExplore {
    font-size: 17px;
    padding: 5px 22px;
  }
  .OneProject {
    height: 50vh;
  }
  .navbar-collapse {
    width: 100%;
  }
  #navbarSupportedContent > div {
    width: 100%;
    justify-content: center;
    margin: 0px !important;

    margin-bottom: 10px;
  }
  .nav-item {
    width: 100% !important;

    border-radius: 0 !important;
    background-color: rgba(255, 255, 255, 0.532) !important;
  }

  .nav-link {
    padding: 2px 3px !important;
  }
  .FirstView > div {
    width: 100%;
  }

  .navbar-toggler:focus {
    box-shadow: none !important;
  }
  #kunalimg {
    width: 90%;
  }
  #user-detail-name {
    font-size: 35px;
    margin: 5px;
  }
  #portfolio > div {
    display: flex;
  }
  #portfolio > div > div:nth-child(1) {
    width: 90%;
    margin: auto;
  }
  .portfolio-content {
    margin: 0px;
    width: 100%;
  }

  .portfolio-content p,
  #checkoutbio > a {
    font-size: 14px;
  }
  .AllProjects {
    padding: 5px;
  }
  .OneProject {
    height: 300px;
  }

  #Aboutroll {
    position: static !important;
    transform: none !important;
  }
  #projectHead {
    position: static !important;
    transform: none !important;
  }
  #project_section {
    padding-top: 0px;
  }
  .OnePRhead {
    font-size: 2.8rem;
  }
  .OneProject p {
    font-size: 13px;
  }
  .ClickModalBtn {
    font-size: 13px;
    padding: 3px 5px;
  }
  .projlinks > * {
    font-size: 13px;
  }
  .downseeG {
    font-size: 13px;
  }
  #Github_Section {
    display: flex;
    flex-direction: column;
  }
  .Git1 {
    width: 100%;
  }
  #octopus {
    width: 60%;
  }

  #github-stats-card {
    width: 70%;
  }
  #github-streak-stats {
    width: 51.7%;
  }
  #github-top-langs {
    width: 43.8%;
    z-index: 1;
    margin: 0px !important;
    padding: 0px !important;
  }

  #TechStackBigParent {
    flex-direction: column;
  }
  .HexagonBox {
    scale: 1;
    transform: translateX(-60px);
  }
  #logos img {
    width: 40px;
  }
  .TechStack2 {
    width: 70%;
  }
  .SkillsHeads {
    width: 100%;
  }
  .Techskillshead {
    width: 70% !important;
  }
  .Stack2firstParent,
  .Stack2secondParent {
    width: 70%;
    margin: auto;
  }

  .connectsection {
    flex-direction: column;
  }
  #letusconnect {
    font-size: 7rem;
  }
  #connect {
    padding: 7px 10px;
  }
  .connectsection textarea {
    width: 90%;
  }
  #submit-button {
    width: 20%;
  }
  #footercenter {
    flex-direction: column;
  }

  #ball5 {
    top: calc(var(--balltop) - 100px);
    right: 100px !important;
    height: calc(var(--ballheight2));
    width: calc(var(--ballheight2));
  }
  #ball7 {
    top: calc(var(--balltop) - 100px);
    right: -100px;
    height: calc(var(--ballheight2));
    width: calc(var(--ballheight2));
    background-color: rgb(84, 181, 251);
  }
  #ball6 {
    top: calc(var(--balltop) - 30px);
    left: 50px;
    height: calc(var(--ballheight1));
    width: calc(var(--ballheight1));
  }
  #ball8 {
    top: calc(var(--balltop) - 30px);
    right: 50px;
    height: calc(var(--ballheight1));
    width: calc(var(--ballheight1));
  }

  .modal-body {
    flex-direction: column-reverse;
    overflow-y: scroll !important;
  }

  .modal-body > div {
    width: 100%;
  }
  .downseeGmodal {
    width: 100px;
    font-size: 10px;
  }
  .downseeGmodal > img {
    width: 12px;
  }
  #teckstakmodal {
    flex-wrap: wrap;
  }
  .DetailsModalBox {
    overflow-y: scroll;
  }
  td:nth-child(2n-1) {
    width: 100px;
  }
  #teckstakmodal > img {
    width: 35px;
  }
  .ImageModalsBox > img {
    width: 90%;
    margin: auto;
  }

  #teckstakmodal > img {
    width: 35px;
  }

  #checkoutbio > a {
    font-size: 13px;
  }
  .profileheading {
    font-size: 34px;
  }
  .portfolio-content p {
    font-size: 15px;
  }
  .Git2 {
    padding: 0px !important;
  }
  #gitstreakone {
    width: 100%;
    margin-bottom: 15px;
  }
  .OneProject {
    height: 350px;
  }

  .connecttwonamesdiv input {
    width: 80% !important;
  }
  .connectsection label {
    margin: 0px;
  }
  #connectsubmitdiv {
    justify-content: center;
  }
  #submit-button {
    position: static;
    margin: 0px !important;
  }
  .modalimgheads {
    font-size: 13px;
  }

  .ImageModalsBox {
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
    height: 800px !important;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .ImageModalsBox > img {
    width: 99%;
    margin: auto;
  }
  .DetailsModalBox {
    height: 150px;
  }
}
