/*? ----------------------------Small Screen Sizes -------------------------------- */
@media all and (min-width: 320px) and (max-width: 810px) {
  * {
    font-size: 14px;
  }
  #projects,
  #skills,
  #github {
    padding-top: 80px !important;
  }
  #projects {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin: 0px !important;
    width: 100%;
  }
  #Aboutrolldim {
    display: none;
  }
  #Aboutroll {
    width: 100% !important;
    font-size: 4.2rem !important;
    position: static !important;
    transform: none !important;
  }
  #projectHead {
    width: 100% !important;
    font-size: 4.2rem !important;
    position: static !important;
    transform: none !important;
  }
  :root {
    --hextop: -10px;
    --hexrig: -388px;
    --hexwidth: 187px;
    --hexheight: 207px;
    --ballheight1: 100px;
    --ballheight2: 180px;
    --balltop: 200px;
    --ballleft: 100px;
  }
  section {
    margin: 15px !important;
    padding-top: 20px !important;
  }
  .SectionHeads {
    font-size: 50px;
    text-align: center;
  }
  .navbar-brand {
    margin: 0px !important;
    padding: 5px !important;
  }
  .FirstView {
    flex-direction: column;
    height: auto;
    padding: 100px 20px 0px 20px !important;
    margin-bottom: 40px !important;
  }
  .Introbox {
    align-items: flex-start;
    padding: 5px;
  }
  .Introbox p {
    text-align: start !important;
  }
  #netball1 {
    width: 100%;
    right: -50%;
    top: 0;
  }
  #netball2 {
    bottom: -27%;
    left: -1%;
    width: 44%;
  }
  #home {
    overflow: visible;
  }
  #firstviewhello {
    font-size: 3rem;
    text-shadow: 1px 2px #010101;
  }
  #firstviewkunal {
    font-size: 4.8em;
    text-shadow: 3px 3px #cad0d8;
  }
  .HeadLetter {
    font-size: 4.8rem;
  }

  #scorlldowngif {
    display: block;
    filter: invert();
    opacity: 0.3;
    position: absolute;
    width: 20%;
    top: -1%;
    left: 50%;
    transform: translateX(-50%);
  }
  .navbar-collapse {
    width: 100%;
  }
  #navbarSupportedContent > div {
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
  }
  .nav-item {
    width: 100% !important;
    border-radius: 0 !important;
    background-color: rgba(255, 255, 255, 0.532) !important;
  }
  .FirstView > div {
    width: 100%;
  }
  .FirstView > div:nth-child(1) {
    padding: 1px;
  }
  #LetsExplore,
  #cvdownload {
    padding: 8px 10px !important;
    font-size: 16px !important;
  }
  #user-detail-name {
    /* text-shadow: 3px 3px #010101; */
    margin: 10px auto;
  }
  .container-fluid {
    margin: 0px !important;
    padding: 0px !important;
  }
  .navbar-toggler {
    background-color: rgba(255, 255, 255, 0.532) !important;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
  }
  #kunalimg {
    width: 100%;
    height: 400px;
  }
  .OPRBGB {
    border-radius: 0px;
  }
  #about {
    padding: 80px 0px 0px 0px !important;
  }
  #about > div {
    display: flex;
    padding: 10px !important;
    flex-direction: column-reverse;
    margin: 0px !important;
  }
  #about > div > div:nth-child(1) {
    width: 100%;
    margin: auto;
  }
  .feverlinks {
    padding: 1px 10px 1px 1px;
  }
  .feverlinks span {
    font-size: 14px;
  }
  .portfolio-content label {
    font-size: 19px;
  }
  .portfolio-content {
    margin: 0px;
    width: 100%;
  }
  .AllProjects {
    padding: 0px;
    margin: 0px !important;
  }

  #project_section {
    padding-top: 0px;
  }
  .OnePRhead {
    font-size: 2.5rem;
    font-weight: 500;
  }
  .OneProject p {
    font-size: 13px;
  }
  .ClickModalBtn {
    font-size: 13px;
    padding: 3px 5px;
  }
  .projlinks {
    margin-top: 10px;
  }
  .projlinks > * {
    font-size: 13px;
  }
  .downseeG {
    font-size: 13px;
    margin: 0px;
  }
  #Github_Section {
    display: flex;
    margin: 0px !important;
    flex-direction: column;
  }
  .Git1 {
    padding: 0px !important;
    width: 98%;
  }
  #github {
    width: 100%;
    margin: 0px auto !important;
  }
  .table-column {
    margin: 0px !important;
    padding: 0px !important;
  }
  #octopus,
  #catty {
    width: 70%;
  }
  #techstakhead {
    transform: translateY(-5px);
  }
  .gitstreak {
    width: 100%;
    flex-direction: column;
    margin: 0px;
    padding: 0px !important;
  }
  #github-stats-card {
    width: 100%;
  }
  .section__title {
    font-size: 19px;
  }

  #github-top-langs {
    width: 70%;
    z-index: 1;
    height: 230px;
    margin: 5px !important;
    padding: 0px !important;
    transform: translateX(0px);
  }
  #TechStackBigParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .HexagonBox {
    scale: 0.52;
    margin: 0px;
    height: 450px;
    transform: none;
  }

  #logos img {
    width: 30px;
  }
  .TechStackBox {
    width: 350px !important;
    margin: 0px !important;
  }
  .Techskillshead {
    width: 100% !important;
  }
  .Tech-StackBoxParent,
  .Stk-box-parent {
    width: 100%;
    margin: auto;
  }

  .connectsection {
    flex-direction: column;
  }
  #letusconnect {
    font-size: 4rem;
  }
  #contact {
    width: 100%;
    margin: 50px 0px !important;
    padding: 0px !important;
  }
  #connect {
    margin: 0px !important;
    padding: 7px 10px;
    border-radius: 5px;
  }
  .connectsection textarea {
    width: 90%;
  }
  #submit-button {
    width: 50%;
  }
  #footercenter {
    flex-direction: column;
  }

  #ball5 {
    top: calc(var(--balltop) - 100px);
    height: calc(var(--ballheight2));
    width: calc(var(--ballheight2));
  }
  #ball7 {
    top: calc(var(--balltop) - 100px);
    right: -100px;
    height: calc(var(--ballheight2));
    width: calc(var(--ballheight2));
    background-color: rgb(84, 181, 251);
  }
  #ball6 {
    top: calc(var(--balltop) - 30px);
    left: 00px;
    height: calc(var(--ballheight1));
    width: calc(var(--ballheight1));
  }
  #ball8 {
    top: calc(var(--balltop) - 30px);
    right: 00px;
    height: calc(var(--ballheight1));
    width: calc(var(--ballheight1));
  }

  .modal-content {
    top: 1%;
    height: 99vh !important;
  }
  .modal-body {
    width: 100%;
    display: block;
    overflow-y: scroll !important;
  }

  .modal-body > div {
    width: 100%;
    height: fit-content;
  }
  .projectcount {
    font-size: 1.5rem;
  }
  .downseeGmodal {
    width: 100px;
    font-size: 14px;
    padding: 0px;
    margin: 0px 5px;
  }
  .downseeGmodal > img {
    width: 12px;
  }
  div.modal-header b {
    font-size: 2rem;
  }
  #logos {
    justify-content: center;
  }
  #teckstakmodal {
    flex-wrap: wrap;
  }

  .DetailsModalBox {
    height: fit-content;
    overflow: visible !important;
    margin-bottom: 20px;
  }
  tr {
    display: flex;
    flex-direction: column;
  }
  td:nth-child(2n-1) {
    width: 100%;
    padding: 5px !important;
  }
  .projlinksmodal {
    justify-content: center;
  }
  #teckstakmodal > img {
    width: 35px;
  }

  #checkoutbio > a {
    font-size: 13px;
  }
  .contrib-column {
    border: 0 !important;
  }
  .profileheading {
    font-size: 34px;
  }
  #KunalMehraName {
    font-weight: 500;
    font-size: 34px;
    color: var(--themeblue);
  }

  .portfolio-content p {
    font-size: 13px;
    padding-bottom: 10px;
  }
  .Git2 {
    padding: 0px !important;
  }
  #gitcontri {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  #github-summary {
    width: 100%;
    padding: 0;
    margin: auto;
  }
  #github-streak-stats {
    width: 100%;
    margin-bottom: 15px;
  }
  .OneProject {
    height: 300px;
  }

  .connecttwonamesdiv {
    flex-direction: column;
  }
  .connecttwonamesdiv input {
    width: 90% !important;
  }
  .connectsection label {
    text-align: center;
    margin: 0px;
  }
  #connectsubmitdiv {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  #submit-button {
    position: static;
    margin: 0px !important;
  }
  .modalimgheads {
    font-size: 11px;
    text-align: left;
    padding: 0px;
  }
  .ImageModalsBox {
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
    align-items: center;
    overflow: visible;
    /* display: none; */
  }
  .ImageModalsBox > img {
    width: 99%;
    margin: auto;
    margin-top: 10px;
  }
  .modal-body {
    overflow-y: hidden;
  }

  .dropdownnav {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr) !important;
    gap: 10px !important;
  }
  #BestRepoParent {
    width: 100%;
    margin: 8px;
  }

  #BestRepos {
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }
  #BestRepos > img {
    width: 100%;
  }
  .skills-card-name {
    font-size: 14px;
  }
  .skills-card > img {
    width: 20px;
  }
  .skills-card {
    padding: 8px 5px !important;
  }
  .Toolset-Image {
    width: 40px;
  }
  .Toolset {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .Toolset > div {
    width: fit-content;
    padding: 8px;
    font-size: 20px;
    border-radius: 10px;
  }
  #downloadresumeport {
    padding: 8px;
  }
  .OnePRhead {
    padding: 5px;
  }
  .OPRBGB {
    background-color: rgba(0, 0, 0, 0.675);
  }
  .contrib-column {
    padding: 0px;
    margin: 0px;
  }
  .calendar {
    min-height: 159px !important;
  }
  .contrib-number {
    font-size: 15px !important;
  }
  .text-muted {
    font-size: 7px !important ;
  }
}

/*todo ----------------------------Small Screen Sizes -------------------------------- */
@media all and (min-width: 650px) and (max-width: 809px) {
  #kunalimg {
    height: 800px;
  }
}
/*todo ----------------------------Small Screen Sizes -------------------------------- */
@media all and (min-width: 500px) and (max-width: 650px) {
  #kunalimg {
    height: 600px;
  }
}
