/*? <!----------------------------------------------- < Portfolio Section > -----------------------------------------------> */

.profileheading {
  font-size: 48px;
}
#portfolio {
  background-size: contain;
  position: relative;
  margin-top: 250px;
  width: 90%;
}

#portfolio > div {
  display: flex;
  justify-content: center;
}
#portfolio > div > div:nth-child(1) {
  display: grid;
  place-items: center;
  width: 38%;
}
.portfolio-content {
  margin-left: 100px;
  padding: 15px;
  width: 50%;
}
#user-detail-name {
  /* text-shadow: 3px 3px #010101; */
  margin: 30px auto;
}
#kunalimg {
  width: 450px;
  transition: all 350ms ease;
  box-shadow: rgba(46, 111, 240, 0.4) 5px 5px, rgba(46, 137, 240, 0.3) 10px 10px;
}
.portfolio-content label {
  font-size: 25px;
  font-weight: bold;
  color: var(--themeblueDark);
}
.portfolio-content p {
  font-size: 18px;
}
#checkoutbio > a {
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: var(--themeblueDark);
}
#logos {
  width: 100%;
  display: flex;
  justify-content: left;
}
#logos div {
  cursor: pointer;
  margin: 10px;
  transition: all 350ms ease;
}
#logos div:hover,
.footerimgs div:hover {
  transform: scale(1.05);
  box-shadow: rgba(209, 206, 206, 0.24) 0px 3px 8px;
}
#logos img {
  width: 50px;
}
