/*? <!----------------------------------------------- < Portfolio Section > -----------------------------------------------> */

#about {
  background-size: contain;
  position: relative;
  margin-top: 0px !important;
  width: 90%;
  padding: 100px 50px 10px 50px !important;
}

#about > div {
  display: flex;
  justify-content: space-between;
  /* flex-direction: row-reverse; */
  margin-top: 100px !important;
}
#about > div > div:nth-child(1) {
  display: grid;
  place-items: center;
  width: 48%;
}
.portfolio-content {
  padding: 15px;
  width: 50%;
}
#user-detail-name {
  width: 100%;
  margin: 22px 0px;
  text-align: left;
}

#kunalimg {
  width: 500px;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  transition: all 350ms ease;
  border-radius: 5px;
  border: 1px solid #9f9999;
  /* box-shadow: rgba(46, 95, 240, 0.4) 0px 5px, rgba(46, 95, 240, 0.3) 0px 10px; */

  box-shadow: rgba(46, 111, 240, 0.4) 5px 5px, rgba(46, 137, 240, 0.3) 10px 10px;
}

#kunalimg:hover {
  /* filter: drop-shadow(0 0 0.15rem rgb(84, 84, 89)); */
  box-shadow: rgba(46, 111, 240, 0.4) 8px 8px, rgba(46, 137, 240, 0.3) 15px 15px;
}

.feverlinks {
  background: #231f20;
  padding: 1px 20px 1px 0px;
  border-radius: 35px;
  display: flex;
  justify-content: space-between;
  transition: all 100ms ease-in-out !important;
  align-items: flex-start;
  border: 2px solid rgb(192, 191, 191);
  transition: all 300ms ease-in-out;
}
.feverlinks span {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
}
.feverlinks a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 300ms ease-in-out !important;
}

.portfolio-content label {
  font-size: 25px;
  margin: 0;
  font-weight: bold;
  color: var(--themeblueDark);
}
.portfolio-content p {
  text-align: justify;
  font-size: 18px;
}
#checkoutbio > a {
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: var(--themeblueDark);
}
#downloadresumeport {
  padding: 12px;
  border-radius: 5px;
  font-size: 20px;
  border: 0px;
}
#downloadresumeport::before {
  border-radius: 5px;
}
#logos {
  width: 100%;
  display: flex;
  justify-content: left;
}
#logos div {
  cursor: pointer;
  margin: 10px;
  transition: all 350ms ease;
}
#logos div:hover,
.footerimgs div:hover {
  transform: scale(1.02);
  box-shadow: rgba(209, 206, 206, 0.24) 0px 3px 8px;
}
#logos img {
  width: 50px;
}

.profileheading {
  font-size: 48px;
}
#KunalMehraName {
  font-weight: 500;
  font-size: 48px;
  color: var(--themeblue);
}
