#projects {
  margin-top: 0px !important;
}
.AllProjects {
  width: 100%;
  padding: 70px;
  padding-top: 40px;
  margin-top: 110px !important;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
.OneProject {
  position: relative;
  height: 47vh;
  border-radius: 5px;
  transition: background-position 1800ms ease-in;
}

.OPRBGB {
  background-color: rgba(0, 0, 0, 0.575);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  box-shadow: rgba(13, 255, 0, 0.16) 0px 1px 2px;
  padding: 10px;
  border-radius: var(--borderRadius);
  transition: all 300ms ease-in;
  background-position: top;
}
.OPRBGB:hover {
  background-color: rgba(53, 67, 109, 0.363);
  box-shadow: rgba(240, 211, 46, 0.4) 5px 5px, rgba(240, 204, 46, 0.3) 10px 10px;
  box-shadow: rgba(46, 111, 240, 0.4) 5px 5px, rgba(46, 137, 240, 0.3) 10px 10px;
}
.orangefrybg {
  background: url(../Images/ProjectsImgs/orangefry.jpg);
  background-size: cover;
}

.mycalbg {
  background: url(../Images/ProjectsImgs/mycal.jpg);
  background-size: cover;
}
.acelegalservice {
  background: url(../Images/ProjectsImgs/acelegal.png);
  background-size: cover;
}

.stylezillabg {
  background: url(../Images/ProjectsImgs/stylezilla.jpg);
  background-size: cover;
}
.placemebg {
  background: url(../Images/ProjectsImgs/placeme.png);
  background-size: cover;
}
.orangefrybg:hover,
.placemebg:hover,
.stylezillabg:hover,
.acelegalservice:hover,
.mycalbg:hover {
  background-position: bottom;
}

.OnePRhead {
  font-size: 4rem;
  -webkit-text-stroke: 1px #fcf7f7;
  text-shadow: 3px 4px #010101;
  font-weight: 600;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.OnePRdetails {
  font-size: 20px;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}
.ClickModalBtn {
  text-align: center;
  background-color: transparent;
  padding: 10px 16px;
  border-radius: 5px;
  font-size: 17px;
  border: 2px solid white;
  color: white;
}
.ClickModalBtn::before {
  border-radius: 5px !important;
}
.downsee {
  width: 70px;
  padding: 0;
  margin: 0;
  filter: invert();
}

.OneProject:hover .ClickModalBtn {
  background-color: rgba(0, 0, 0, 0.237);
}
.ClickModalBtn:hover {
  background-color: rgba(255, 255, 255, 0.9) !important;
}
.projlinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.downseeG {
  background-color: transparent;
  border: none;
  padding: 2px 5px;
  font-size: 17px;
  border-radius: 2px;
  margin: 10px;
  color: #fcf7f7;
}
.gitplay {
  width: 20px;
  filter: saturate(0);
}
.sitebutton {
  background-color: white !important;
  filter: invert() !important;
}
#MODAL {
  background-color: transparent;
}
.modal-content {
  margin: auto !important;
  top: 65px;
  width: 95% !important;
  height: 88vh !important;
  border-radius: 7px !important;
}
.modal-body ::-webkit-scrollbar {
  width: 4px;
  background-color: rgb(221, 237, 250);
}
.modal-body ::-webkit-scrollbar-thumb {
  background-color: rgb(24, 109, 212);
  border-radius: 10px;
}
.modal-body {
  padding: 10px !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.modal-body > div {
  width: 49%;
  height: 100%;
}
.ImageModalsBox {
  overflow-y: scroll;
}
.ImageModalsBox > img {
  width: 97%;
  margin: 10px;
  border: 1px solid grey;
}
.DetailsModalBox {
  padding: 00px;
}
table {
  width: 100%;
  border: 1px solid rgb(255, 255, 255);
}
td {
  padding: 6px 10px;
  border: 1px solid rgb(236, 233, 233) !important;
}
td:nth-child(2n-1) {
  width: 25%;
  padding-top: 0px !important;
  background-color: rgb(255, 255, 255);
}
td:nth-child(2) {
  background-color: rgb(242, 249, 253);
}
table p {
  margin: 0px;
}
#teckstakmodal {
  display: flex;
  justify-content: left;
  align-items: center;
}
#teckstakmodal > img {
  width: 70px;
  filter: contrast(1.2);
}
#modalbootst {
  width: 70px;
}
.gitplaymodal {
  width: 20px;
}
.projlinksmodal {
  display: flex;
  justify-content: left;
  align-items: center;
}
.downseeGmodal {
  color: rgb(0, 0, 0);
  background-color: transparent;
  width: 150px;
  padding: 7px 15px;
  border: 1px solid transparent;
  transition: all 200ms ease;
  margin: 5px;

  padding: 0px;
  font-size: 18px;
  border-radius: 2px;
}
.downseeGmodal:hover {
  color: blue;
}
.modalimgheads {
  font-size: 20px;
  font-weight: 500;
}
.projectcount {
  font-size: 3rem;
  color: white;
  font-weight: 600;
  position: absolute;
  top: 10px;
  text-shadow: 1px 1px #010101;
  right: 10px;
}
