/*? <!----------------------------------------------- < Hexagonals > -----------------------------------------------> */
.HexagonBox {
  position: relative;
  height: 600px;
  margin: auto 0px;
  width: 700px;
}
:root {
  --hextop: 70px;
  --hexrig: -388px;
  --hexwidth: 187px;
  --hexheight: 207px;
}

.hexagon {
  text-align: center;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 99%, 0 75%, 0 25%);
  display: grid;
  place-items: center;
  cursor: pointer;
  position: absolute;
  width: var(--hexwidth);
  height: var(--hexheight);
  background: rgb(255, 255, 255);
  background-size: cover;
  transition: all 250ms ease-in-out;
}

.hexagon:hover {
  transform: scale(1.05) rotate(3deg);
  z-index: 2;
}
.hexagon:nth-child(2n):hover {
  transform: scale(1.1) rotate(-3deg);
  z-index: 2;
}
.hexagon > div {
  display: grid;
  place-items: center;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  width: calc(var(--hexwidth) - 3px);
  height: calc(var(--hexheight) - 3px);
  object-position: center;
  overflow: hidden;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 99%, 0 75%, 0 25%);
}

.techhex {
  width: 112%;
  filter: saturate(1.5);
}
#techstckmiddle {
  color: white;
  /* -webkit-text-stroke: 1px #000000; */
  text-shadow: 2px 2px 2px #34a7fa;
}

#hex1 {
  top: calc(var(--hextop) - 30px);
  right: calc(var(--hexrig) + 690px);
  /* background-color: black; */
}

#hex3 {
  top: calc(var(--hextop) + 130px);
  right: calc(var(--hexrig) + 788px);
  /* background-color: black; */
}
#hex2 {
  top: calc(var(--hextop) - 30px);
  right: calc(var(--hexrig) + 495px);
  /* background-color: black; */
}
#hex4 {
  top: calc(var(--hextop) + 130px);
  right: calc(var(--hexrig) + 397px);
  /* background-color: black; */
}
#hex5 {
  top: calc(var(--hextop) + 130px);
  right: calc(var(--hexrig) + 592px);
  background-color: rgb(0, 0, 0);
}
.hexagon:nth-child(5) > div {
  width: 185px;
  z-index: 1;
  height: 205px;
  object-position: end;
}

#hex6 {
  top: calc(var(--hextop) + 290px);
  right: calc(var(--hexrig) + 497px);
  /* background-color: black; */
}

#hex7 {
  top: calc(var(--hextop) + 290px);
  right: calc(var(--hexrig) + 690px);
  /* background-color: black; */
}
.p68 {
  position: absolute;
  width: 90px;
  mix-blend-mode: darken;
  /* mix-blend-mode: difference; */
}
#pg3 {
  top: calc(var(--hextop) + 296px);
  right: calc(var(--hexrig) + 883px);
}
#pg1 {
  top: calc(var(--hextop) + 28px);
  right: calc(var(--hexrig) + 884px);
  rotate: 62deg;
}
#pg2 {
  top: calc(var(--hextop) - 107px);
  right: calc(var(--hexrig) + 643px);
  rotate: 121deg;
}
#pg4 {
  top: calc(var(--hextop) + 23px);
  right: calc(var(--hexrig) + 400px);
  rotate: 180deg;
}
#pg5 {
  top: calc(var(--hextop) + 293px);
  right: calc(var(--hexrig) + 400px);
  rotate: 242deg;
}
#pg6 {
  top: calc(var(--hextop) + 426px);
  right: calc(var(--hexrig) + 639px);
  rotate: -59deg;
}

/*? <!----------------------------------------------- < TechStack > -----------------------------------------------> */

#TechStack_Section {
  margin: 20px auto !important;
  width: 90%;
}
.TechStack2 {
  height: 100%;
}
#TechStackBigParent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.TechStack2 {
  text-align: center;
  width: 32%;
}

.Stack2firstParent {
  margin: 20px 20px;
  font-size: 20px;
}
.Stack2secondParent {
  margin: 5px 20px;
  text-align: center;
  font-size: 20px;
}
.Stack2first {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin: 10px;
}

.Stack2second {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin: 10px 10px;
}
.Stack2first > div {
  padding: 7px;
  font-weight: 500;
  font-size: 18px;
  border: 1px solid rgba(100, 228, 255, 1);
  background: rgba(84, 177, 255, 0.5);
  border-radius: 10px;
  transition: all 200ms ease;
}
.Stack2second > div {
  padding: 7px;
  font-weight: 500;
  font-size: 18px;
  border: 1px solid rgb(124, 226, 255);
  background: rgba(100, 228, 255, 0.5);
  border-radius: 10px;
  transition: all 200ms ease;
}
.Toolset > div {
  padding: 7px;
  font-weight: 500;
  filter: saturate(2);
  font-size: 18px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgb(185, 185, 185);
  border-radius: 10px;
  transition: all 200ms ease;
}
.Toolset > div:hover {
  cursor: pointer;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.Stack2second > div:nth-child(4),
.Stack2second > div:nth-child(5),
.Stack2second > div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.Stack2first > div:nth-child(7) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.Toolset {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin: 10px 30px;
}

.SkillsHeads {
  background-color: rgb(24, 109, 212);
  padding: 5px;
  color: white;
  margin-top: 20px;
  font-size: 30px;
  width: 310px !important;
}
.Techskillshead {
  width: 340px !important;
}

#skillcenter {
  z-index: 2;
  font-weight: 600;
  font-size: 2rem;
}
.gear {
  position: absolute;
  filter: hue-rotate(10deg);
  width: 94%;
}
