/*? <!----------------------------------------------- < Hexagonals > -----------------------------------------------> */
.HexagonBox {
  position: relative;
  height: 600px;
  margin: auto 0px;
  min-width: 570px;
  scale: 0.86;
  transform: translateX(30px) translateY(-66px);
}
:root {
  --hextop: 70px;
  --hexrig: -388px;
  --hexwidth: 187px;
  --hexheight: 207px;
}

.hexagon {
  text-align: center;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 99%, 0 75%, 0 25%);
  display: grid;
  place-items: center;
  cursor: pointer;
  position: absolute;
  width: var(--hexwidth);
  height: var(--hexheight);
  background: rgb(255, 255, 255);
  background-size: cover;
  filter: saturate(0.8);
  transition: all 250ms ease-in-out;
}

.hexagon:hover {
  transform: scale(1.05) rotate(3deg);
  z-index: 2;
}
.hexagon:nth-child(2n):hover {
  transform: scale(1.1) rotate(-3deg);
  z-index: 2;
}

.hexagon > div {
  display: grid;
  place-items: center;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  width: calc(var(--hexwidth) - 3px);
  height: calc(var(--hexheight) - 3px);
  object-position: center;
  overflow: hidden;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 99%, 0 75%, 0 25%);
}

.techhex {
  width: 112%;
  filter: saturate(1.5);
}

#techstckmiddle {
  color: white;
  text-shadow: 2px 2px 2px #34a7fa;
}

#hex1 {
  top: calc(var(--hextop) - 30px);
  right: calc(var(--hexrig) + 690px);
  background-color: black;
}

#hex3 {
  top: calc(var(--hextop) + 130px);
  right: calc(var(--hexrig) + 788px);
  background-color: black;
}
#hex2 {
  top: calc(var(--hextop) - 30px);
  right: calc(var(--hexrig) + 495px);
  background-color: black;
}
#hex4 {
  top: calc(var(--hextop) + 130px);
  right: calc(var(--hexrig) + 397px);
  background-color: black;
}
#hex5 {
  top: calc(var(--hextop) + 130px);
  right: calc(var(--hexrig) + 592px);
  background-color: rgb(0, 0, 0);
}
.hexagon > div {
  width: 185px;
  z-index: 1;
  height: 205px;
  object-position: end;
}

#hex6 {
  top: calc(var(--hextop) + 290px);
  right: calc(var(--hexrig) + 497px);
  background-color: black;
}

#hex7 {
  top: calc(var(--hextop) + 290px);
  right: calc(var(--hexrig) + 690px);
  background-color: black;
}
.p68 {
  position: absolute;
  width: 90px;
  mix-blend-mode: darken;
}
#pg3 {
  top: calc(var(--hextop) + 296px);
  right: calc(var(--hexrig) + 883px);
}
#pg1 {
  top: calc(var(--hextop) + 28px);
  right: calc(var(--hexrig) + 884px);
  rotate: 62deg;
}
#pg2 {
  top: calc(var(--hextop) - 107px);
  right: calc(var(--hexrig) + 643px);
  rotate: 121deg;
}
#pg4 {
  top: calc(var(--hextop) + 23px);
  right: calc(var(--hexrig) + 400px);
  rotate: 180deg;
}
#pg5 {
  top: calc(var(--hextop) + 293px);
  right: calc(var(--hexrig) + 400px);
  rotate: 242deg;
}
#pg6 {
  top: calc(var(--hextop) + 426px);
  right: calc(var(--hexrig) + 639px);
  rotate: -59deg;
}

/*? <!----------------------------------------------- < TechStack > -----------------------------------------------> */

#skills {
  margin: 20px auto !important;
  padding-top: 30px !important;
  margin-top: 40px !important;
  width: 90%;
}
.TechStackBox {
  width: 370px;
  height: 100%;
}
#TechStackBigParent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "one two three";
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.SkillBox1 {
  grid-area: one;
}
.SkillBox2 {
  grid-area: two;
}
.SkillBox3 {
  grid-area: three;
}

.TechStackBox {
  text-align: center;
  width: 100%;
}

.Stk-box-parent {
  margin: 5px 20px;
  text-align: center;
  font-size: 20px;
}

.SoftSkillBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin: 10px 5px;
}

.SoftSkillBox > div {
  padding: 7px 12px;
  font-weight: 500;
  font-size: 18px;
  border: 3px solid rgb(25, 92, 186);
  border-radius: 10px;
  box-shadow: rgba(46, 111, 240, 0.4) 4px 4px, rgba(46, 137, 240, 0.3) 8px 8px;
  transition: all 200ms ease;
}
.Toolset {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  gap: 5px;
  margin: 10px 15px;
}

.Toolset > div {
  width: 48px;
  padding: 0;
  font-weight: 500;
  filter: saturate(2);
  font-size: 20px;
  border-radius: 10px;
  transition: all 200ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Toolset > div:hover {
  cursor: pointer;
  scale: 1.1;
}
.SoftSkillBox > div:nth-child(4),
.SoftSkillBox > div:nth-child(5),
.SoftSkillBox > div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.Tech-StackBox > div:nth-child(7) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.skills-card > img {
  filter: drop-shadow(2 2 2 blue);
  width: 25px;
  margin-right: 5px;
}
.Tech-StackBoxParent {
  margin: 20px 5px;
  font-size: 20px;
}
.Tech-StackBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin: 0px;
}

.skills-card {
  line-height: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 12px;
  font-weight: 500;
  font-size: 18px;
  border: 3px solid rgb(25, 92, 186);
  border-radius: 10px;
  box-shadow: rgba(46, 111, 240, 0.4) 4px 4px, rgba(46, 137, 240, 0.3) 8px 8px;
  transition: all 200ms ease;
}
.skills-card > a {
  color: black;
}
.skills-red:hover {
  cursor: pointer;
  border: 3px solid rgb(255, 0, 0);
  box-shadow: rgba(240, 46, 46, 0.4) 4px 4px, rgba(240, 46, 46, 0.3) 8px 8px;
}
.skills-yellow:hover {
  cursor: pointer;
  border: 3px solid rgb(245, 223, 26);
  box-shadow: rgba(237, 240, 46, 0.4) 4px 4px, rgba(240, 224, 46, 0.3) 8px 8px;
}
.skills-green:hover {
  cursor: pointer;
  border: 3px solid rgb(29, 131, 24);
  box-shadow: rgba(46, 240, 49, 0.4) 4px 4px, rgba(46, 240, 49, 0.3) 8px 8px;
}
.skills-black:hover {
  cursor: pointer;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.4) 4px 4px, rgba(0, 0, 0, 0.3) 8px 8px;
}
.skills-blue:hover {
  cursor: pointer;
  border: 3px solid rgb(34, 218, 239);
  box-shadow: rgba(0, 234, 255, 0.4) 4px 4px, rgba(37, 207, 210, 0.3) 8px 8px;
}
.skills-orange:hover {
  cursor: pointer;
  border: 3px solid rgb(255, 170, 0);
  box-shadow: rgba(255, 162, 0, 0.4) 4px 4px, rgba(210, 158, 37, 0.3) 8px 8px;
}

.SkillsHeads {
  cursor: pointer;
  background-color: rgb(24, 109, 212);
  padding: 5px;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
  font-size: 30px;
}
.Techskillshead {
  width: 100%;
}

#skillcenter {
  z-index: 2;
  font-weight: 600;
  font-size: 2rem;
  color: black;
}
.gear {
  position: absolute;
  filter: hue-rotate(10deg);
  width: 94%;
}
#techstakhead {
  transform: translateY(20px);
}
#catty {
  width: 20%;
  transition: all 300ms ease-in-out;
  filter: brightness(1.01);
}
#catty:hover {
  scale: 1.01;
  filter: saturate(1.3);
}
